<div class="content bg">
    <h2>Introduction</h2>
    <section id="introduction" style="margin-left: 15px;">

        <!-- Your introduction content here -->
        <p>Frontend Developer with expertise in JavaScript, TypeScript, HTML5, CSS3, Bootstrap, Angular
            Material, and Angular framework. Creating seamless web experiences.Seeking opportunities to innovate and
            excel in a collaborative environment.An MCA graduate seeking opportunities to apply technical expertise and
            contribute to a progressive organization's success. Committed to continuous learning and professional
            growth.</p>
            <h4>Skills</h4>
            <p>•Programming Languages : TypeScript, JavaScript <br>
                • Frameworks : Angular, Bootstrap 
               • Web Technology : Angular, HTML5, JavaScript, CSS, Flexbox, Angular CLI, Angular Material,photoshop illustrator.<br>
               • Debugging Tools : Google Chrome Web Debugger Development Tools <br>
               • IDE/Editors : Visual Studio Code <br>
               • Proficient in Angular, TypeScript, JavaScript, HTML, CSS, and Bootstrap <br>
               • Rest API and HTTPs <br>
               • Experience in developing responsive and mobile-friendly web applications <br>
               • Strong understanding of software development principles and best practices <br>
               • Excellent problem-solving and debugging skills <br>
               • Ability to work collaboratively in a team environment.</p>
        <h4>Education</h4>
        <p>MCA graduate from D Y Patil Institute of MCA and Management with a strong foundation in computer applications
            and technology.</p>
        <h3>Master of Computer Application</h3>
        <p>D Y Patil Institute of MCA and Management</p>
        <p>Akurdi,Pune,Maharashtra</p>
        <h3>Bachalor of Computer Application</h3>
        <p>KCE's Moolji Jetha College</p>
        <p>Jalgoan,Maharashtra</p>
        <br>
        <a href="/src/assets/GSSResume.pdf" download>
            <button class="btn btn-secondary" style="width: 100%;"><i>DOWNLOAD RESUME</i></button>
          </a>
    </section>
</div>