<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Portfolio</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <ul class="navbar-nav flex-column">
                <li class="nav-item">
                    <div class="row text-center">
                        <div>
                            <div class="card testimonial-card">
                                <div class="card-up"
                                    style="background-image: url('https://images.pexels.com/photos/691668/pexels-photo-691668.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); background-size: cover;">
                                </div>
                                <div class="avatar mx-auto bg-white">
                                    <img src="../assets/pic1.jpeg" class="rounded-circle img-fluid" />
                                </div>
                                <div class="card-body">
                                    <h4 style="color: rgb(73, 73, 73);"><b>{{Name}}</b></h4>
                                    <p class="dark-grey-text mt-1">
                                        <i class="fas" style="color: rgb(73, 73, 73);">{{Designation}}</i>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item mt-3">
                    <a class="nav-link" routerLink="intro"><b>Introduction</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="project"><strong>Projects</strong></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="contact"><b>Contact</b></a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="content">
        <div class="topavatar">
      
            <div class="divav"><h1>{{pageTitle}}</h1></div>
            
        </div>
        <router-outlet></router-outlet>
        
    </div>
    <footer class="site-footer">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <h6>About</h6>
              <p class="text-justify">{{about}}
                </p>
            </div>
  
            <div class="col-xs-6 col-md-3">
              <h6>Contact</h6>
              <ul class="footer-links">
               
                <li><p>Mobile  +91-8806687703</p></li>
                <li><a href="mailto:sonawanegs95@gmail.com"><p>E-mail - sonawanegs95@gmail.com</p></a></li>
                <li><p>Address 1</p><p>1225 Hudco Pimprala Jalgoan Maharashtra - 425001</p></li>
                <li><p>Address 2</p><p>Nandel City Pune Maharashtra - 411024</p></li>
                
              </ul>
            </div>
  
            <div class="col-xs-6 col-md-3">
              <h6>Project Links</h6>
              <ul class="footer-links">
                <li><a href="https://car-insurance-liart.vercel.app/home">Car Insurance</a></li>
                <li><a href="https://jarvis-three-rho.vercel.app/">Generative AI with Angular</a></li>
                <li><a href="https://my-portfolio-ivory-pi-15.vercel.app/">Portfolio</a></li>
              </ul>
            </div>
          </div>
          <hr>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
              <p class="copyright-text">I hereby declare that the above-mentioned information is true to the best of my knowledge and belief. 
           
              </p><h6>Gaurav Sonawane</h6>
            </div>
  
            <div class="col-md-4 col-sm-6 col-xs-12">
              <ul class="social-icons">
                <li><a href="mailto:sonawanegs95@gmail.com" class="fa fa-envelope"></a></li>
                <li><a href="https://www.linkedin.com/in/gaurav-sonawane-884950144" class="fa fa-linkedin"></a></li>
                <li><a href="https://www.github.com/GauravSonawane95" class="fa fa-github"></a></li>
                <li><a href="https://www.instagram.com/bthefantastico" class="fa fa-instagram"></a></li>
                <li><a href="https://www.facebook.com/bthefantastico" class="fa fa-facebook"></a></li>
              </ul>
            </div>
          </div>
        </div>
  </footer>
    <!-- Bootstrap Bundle with Popper -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>
