body {
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}

.headingback{
  font-size: 6rem;
  position: relative;
  text-align: right;
  bottom: 85px;
  opacity: 0.2;
  z-index: 2;
  right: 45px;
  
  text-transform: uppercase;
}
.content{
  transition:1s;
}


//upperDiv
.topavatar{
    background-image: url('https://wallpapercave.com/wp/wp7516718.jpg');
      height: 200px;
      width: 100%;
      background-size:cover;
      border-radius: 23px;
      margin-left: -20px;
      background-position-y:-180px ;
      display: flex;
  }
  .divav{
      position: relative;
      width: 82.20%;
      top:123px;
      height: 88px;
      background-color: #7D8082;
      border-radius: 20px 0px 20px 0px;
      
      border-left: 5px solid white;
      border-top: 5px solid white;
      border-right: 5px solid white;
      z-index: 0;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  .divav h1{
      top: 30px;
      left:35px;
      font-size: 2 rem;
      z-index: 5;
      letter-spacing: 10px;
      color: white;
      position: relative;
      text-transform: uppercase;
  }
///////////////
//Footer

.a{
    color:#bbbaba ;
}
.site-footer
{
  background-image:  linear-gradient(rgba(0, 0, 0, 0.7),
  rgba(0, 0, 0, 0.7)), url('https://images.unsplash.com/photo-1585241645927-c7a8e5840c42?fm=jpg&w=3000&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8NHx8fGVufDB8fHx8fA%3D%3D');
  padding:45px 0 20px;
 background-size: auto;
  font-size:15px;
  line-height:24px;
 background-size: cover;
  color:#bbbaba;

}

.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
//////////////////////////////
.navbar {
    display: block;
    width: 300px;
    height: auto;
    position: absolute;
    background-image: url("https://images.pexels.com/photos/2290912/pexels-photo-2290912.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-position: 30% 200px;
    border-radius: 5px;
    padding: 10px;
}

.navbar a {
    color: rgb(73, 73, 73);
    text-align: left;
    width: 100%;
    font-size: 18px;
    font-style: italic;
    display: block;
    margin-bottom: 10px;
}

.navbar a:hover {
    color: #3b3b3b;
    background-color: #e7e7e7;
    border-radius: 5px;
}

.content {
    height: auto;
    padding: 20px;
    margin-left: 320px; /* Adjusted margin to align with the navbar width */
}

.testimonial-card .card-up {
    height: 140px;
    overflow: hidden;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.testimonial-card .avatar {
    width: 110px;
    margin-top: -60px;
    overflow: hidden;
    border: 3px solid #fff;
    border-radius: 50%;
}

h2 {
    padding: 25px;
    background-image: url("https://images.pexels.com/photos/3137068/pexels-photo-3137068.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    color: rgb(216, 216, 216);
    margin-left: -20px;
}

/* Media Queries for Responsiveness */
@media (min-width: 577px) and (max-width: 768px) {
    .navbar {
        width: 98%;
        height: 150px;
        position: relative;
        left: 100px;
       
       background-position: center;
    }

    .navbar a {
        font-size: 14px;
        text-align: center;
    }

    .testimonial-card .avatar {
        width: 80px;
        margin-top: -40px;
    }

    .testimonial-card .card-up {
        height: 100px;
    }

    .testimonial-card .card-body h4,
    .testimonial-card .card-body p {
        text-align: center;
    }
    .content {
        
        margin-left: 0px;
        margin-top: 0px;
        position: static;
        display:flex ;
        overflow: scroll;
        height: auto;
        top: 200px;
        padding: 20px;
         /* Adjusted margin to align with the navbar width */
    }
}

@media (max-width: 576px) {
    .navbar {
        width: 98%;
        height: 150px;
        position: relative;
        left: 10px;
       
       background-position: center;
    }

    .navbar a {
        font-size: 14px;
        text-align: center;
    }

    .testimonial-card .avatar {
        width: 80px;
        margin-top: -40px;
    }

    .testimonial-card .card-up {
        height: 100px;
    }

    .testimonial-card .card-body h4,
    .testimonial-card .card-body p {
        text-align: center;
    }
    .content {
        
        margin-left: 0px;
        margin-top: 390px;
        position: static;
        display:flex ;
        overflow: scroll;
        top: 200px;
        height: auto;
        padding: 20px;
         /* Adjusted margin to align with the navbar width */
    }
    .topavatar{
        position:absolute;
    background-image: url('https://wallpapercave.com/wp/wp2729921.gif');
   height: 100px;
      width: 90%;
 margin-top: -120px;
      left: 35px;
      
     
  }
  .divav{
      position: relative;
     top:50px;
     height: 60px;
      width: 82.20%;
  }
  .divav h1{
      font-size: medium;
     
      
  }
  .headingback{
    font-size: 3rem;
    
    bottom: 30px;
   
   
    right: 20px;
  }
}
