/* You can add global styles to this file, and also import other style files */
@import "/node_modules/bootstrap/dist/css/bootstrap.min.css" ;

@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";

  @import 'https://fonts.googleapis.com/css2?family=Anek+Latin:wght@800&family=Caveat&family=Fascinate&family=Noto+Sans&family=Open+Sans&family=Roboto&display=swap';

  @import 'https://fonts.googleapis.com/css2?family=Anek+Latin:wght@800&family=Cabin&family=Caveat&family=Fascinate&family=Noto+Sans&family=Open+Sans&family=Roboto&display=swap';
*{
    font-family: "cabin";
   
};

h2{
  // background-image:  url(" ");


text-align: center;
font-style: italic;
};


